@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", system-ui, sans-serif;
  --font-poppins: "Poppins", system-ui, sans-serif;
  --color-primary: #EA2678;
  --color-primary-hover: #F03989;
  --color-primary-active: #C41863;
  --color-primary-dark: #9A0F4A;
  --color-secondary: #7C3AED;
  --color-tertiary: #EA580C;
  --color-error: #DC2626;
  --color-success: #059669;
  --color-warning: #D97706;
  --color-info: #0891B2;
  --color-text-main: #1A0A2E;
  --color-text-secondary: #4A3B6B;
  --color-text-tertiary: #7A6899;
  --color-background: #F8F7FA;
  --color-background-oscuro: #22222E;
  --color-background-claro: #DDD8E8;
  --color-background-tarjetas: #DDD8E8;
  --color-input: #FFFFFF;
  --color-background-input: #EAE7F0;
  --color-borde: #E2DAF0;
  --color-borde-dark: #C8BAE0;
  --color-disabled: #B8A8CC;
  --color-dark-tarjeta: #23223b;
  --color-descripcion: #4A3B6B;
  --color-primary-light: #FFDEEF;

}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply antialiased bg-background text-text-main transition-colors duration-300;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  button,
  th {
    @apply font-poppins;
  }

  p,
  a,
  input,
  td,
  span {
    @apply font-sans;
  }


}

/* Controles para mapa de leaflet*/

.leaflet-control {
  border: none !important;
}

.leaflet-control-zoom {
  background-color: none !important;
  color: white !important;
  border: none !important;
  margin-bottom: 15px;

}

.leaflet-control-zoom a {
  background-color: var(--color-dark-tarjeta) !important;
  color: white !important;
  border: 1px solid var(--color-descripcion) !important;
  margin-bottom: 5px;
  width: 50px !important;
  height: 50px !important;
  font-size: 24px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 12px !important;
  transition: all 0.3s ease !important;
}


.leaflet-control-zoom a:hover {
  cursor: pointer !important;
  background-color: var(--color-descripcion) !important;
  border: var(--color-descripcion) !important;
}

/* Inputs en navegadores */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Sobrescribir el color amarillo del autocompletado de los inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}



/* Queries*/

@media (max-width: 767px) {
  .leaflet-control-zoom a {
    width: 60px !important;
    /* Más pequeño en móvil */
    height: 60px !important;
  }

  .leaflet-bottom {
    bottom: 65px !important;
  }
}

/* Filtro para crear mapa oscuro a partir del mapa claro */
.dark .leaflet-tile-pane {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}